﻿@using OnlineShopping.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model Cart
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Singlepage</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<form method="post" asp-action="Detail">
    <input hidden asp-for="ProductId" />
	<div class="products">
		<div class="container">
			<div class="agileinfo_single">
				
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" src="@Model.Product.ImageUrl" alt=" " class="img-responsive">
				</div>
				<div class="col-md-8 agileinfo_single_right">
				<h2>@Model.Product.Name</h2>
					
					<div class="w3agile_description">
						<h4>Description :</h4>
						@Html.Raw(@Model.Product.Description)
					</div>
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							<h4 class="m-sing">@Model.Product.DiscountPrice?.ToString("0.000 đ") <span>@Model.Product?.Price.ToString("0.000 đ")</span></h4>
						</div>
						
                        <input asp-for="Count" placeholder="Count" class="form-control" type="number" min="1" required  style="width: 30%;margin-bottom:1rem" />
						<div class="snipcart-details agileinfo_single_right_details">						
							<input type="submit" name="submit" value="Add to cart" class="button">
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	</form>


