﻿@using OnlineShopping.Model
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewData["Category"];
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active" >Products</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!--- products --->
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Categories</h2>
                <ul class="cate">
                    @foreach (var item in categories as List<Category>)
                    {
                        <li><a href="/product?categoryId=@item.Id&pageNumber=@ViewBag.Page&KeyWord=@ViewBag.KeyWord"><i class="fa fa-arrow-right" aria-hidden="true"></i>@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    @if (ViewBag.KeyWord != null)
                    {
                        <div>Search results for '@ViewBag.KeyWord'</div>

                            }
                    @* <div class="sorting">
                    <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by popularity</option>
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by average rating</option>
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sort by price</option>
                    </select>
                    </div>
                    <div class="sorting-left">
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="/product?PageSize=9"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 9</option>
                    <option value="/product?PageSize=18"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 18</option>
                    <option value="/product?PageSize=32"><i class="fa fa-arrow-right" aria-hidden="true"></i>Item on page 32</option>
                    <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>All</option>
                    </select>
                    </div>*@
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="agile_top_brands_grids">
                @foreach (var obj in Model)
                {
                    <div class="col-md-4 top_brand_left" style="margin-top:20px">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="~/images/offer.png" alt=" " class="img-responsive">
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="/Customer/Product/Detail/@obj.Id">
                                                    @if (obj.ImageUrl != null || obj.ImageUrl != "")
                                                    {
                                                        <img title=" " alt=" " width="150" height="150" src="@obj?.ImageUrl">
                                                    }
                                                    else
                                                    {
                                                        <img title=" " alt=" " width="150" height="150" src="~/images/no-image.jpg">
                                                    }

                                                </a>
                                                <p>@obj.Name</p> 
                                                <h4>@obj.DiscountPrice?.ToString("0.000") đ <span>@obj.Price.ToString("0.000") đ</span></h4>
                                            </div>                                           
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"> </div>
            </div>
            <nav class="numbering">
                <ul class="pagination paging">
                    @if (ViewBag.MaxPage > 1 && ViewBag.Page > 1)
                    {
                        var pageNumber = ViewBag.Page - 1;
                        <li>
                            <a href="/product?categoryId=@ViewBag.CategoryId&pageNumber=@pageNumber&KeyWord=@ViewBag.KeyWord" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.MaxPage; i++)
                    {
                        if (i == ViewBag.Page)
                        {
                            <li class="active"><a href="#">@i<span class="sr-only">@i</span></a></li>
                        }
                        else
                        {
                            <li><a href="/product?categoryId=@ViewBag.CategoryId&PageNumber=@i&KeyWord=@ViewBag.KeyWord">@i</a></li>
                        }
                    }
                    @if (ViewBag.MaxPage > ViewBag.Page)
                    {
                        var pageNumber = ViewBag.Page + 1;
                        <li>
                            <a href="/product?categoryId=@ViewBag.CategoryId&PageNumber=@pageNumber&KeyWord=@ViewBag.KeyWord" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--- products --->
@section scripts {
    <script type="text/javascript">
        function change_country(value) {
            window.location.href = value;
            console.log(value);
        }
        function change_country1() {
  alert($(this).attr("#PPMiniCart"));
}
    </script>

}