﻿@model OnlineShopping.Model.ViewModel.ShoppingCartVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Checkout Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<form method="post">
<div class="checkout">
    <div class="container">
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>

                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                @{
                    int i = 1;
                }
                @foreach (var item in Model.ListCart)
                {

                    

                    <tr class="rem1">
                        <td class="invert">@i</td>
                        <td class="invert-image"><a href="single.html"><img src="@item.Product.ImageUrl" style="width:100px;height:100px" alt=" " class="img-responsive" /></a></td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                  <a asp-action="minus" asp-route-cartId="@item.Id" >  <div class="entry value-minus" >&nbsp;</div></a>
                                    <div class="entry value"><span>@item.Count</span></div>
                                   <a asp-action="plus" asp-route-cartId="@item.Id" > <div class="entry value-plus active">&nbsp;</div></a>
                                </div>
                            </div>
                        </td>
                        <td class="invert">@item.Product.Name</td>

                        <td class="invert">@item.Price.ToString("0.000 đ")</td>
                        <td class="invert">
                            <div class="rem">
                                <a asp-action="remove" asp-route-cartId="@item.Id" >
                                    <div class="close1"></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    
                        i++;
                    
                }
            </table>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <h4>Continue to basket</h4>
                <ul>
                    <li>Total <i>-</i> <span>@Model.OrderHeader.OrderTotal.ToString("0.000 đ")</span></li>
                </ul>
            </div>
            <div class="checkout-right-basket">
                <a href="/product"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
              
                   <a  asp-action="Summary"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Summary</a>
             
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
</form>

