﻿@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
    </div>
</div>

