﻿@model OnlineShopping.Model.ViewModel.ShoppingCartVM
@using Microsoft.Extensions.Options
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <br />
    <div class="login">
        <div class="container">
            <h2>Order Confirmation</h2>

            <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                <form method="post">
                <input type="text" asp-for="OrderHeader.Name" placeholder="Name" required=" ">
                <input type="text" asp-for="OrderHeader.PhoneNumber" placeholder="Phone number" required=" ">
                <input type="text" asp-for="OrderHeader.Address" placeholder="Address" required=" ">

                <input type="submit" value="Place Order">
                </form>
            </div>
        </div>
    </div>





