﻿@model OnlineShopping.Model.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<div class="container-fluid content-top-gap">
    <section class="forms">
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>@(Model.Id!=0?"Update": "Create new") category <span></span></h3>
            </div>
            <div class="card-body">
                <form method="post" asp-action="AddEdit" enctype="multipart/form-data">
                    <input asp-for="@Model.Id" hidden />
                    <!-- supported elements -->
                    
                    <div class="form-group">
                        <input type="text" class="form-control input-style" asp-for="@Model.Name"
                               required placeholder="Name...">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                   
                    <div class="col-12">
                        @if (Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                        }
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!-- // -->
    </section>
</div>
