﻿@model OnlineShopping.Model.Category

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- card heading -->
    <div class="cards__heading">
        <h3> Delete Category</h3>
    </div>
    <section class="pricing">
        <div class="card card_border p-4">
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
       
    </dl>

    <form method="post" asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
    </form>
    </div>
    </section>
</div>
