﻿@using OnlineShopping.Model
@model IEnumerable<Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">categories</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- card heading -->
    <div class="cards__heading">
        <h3> List Category</h3>
    </div>
    <section class="pricing">
        <div class="card card_border p-4">
            <div class="row">
                <div class="srch_bar col-6">
                    <div class="stylish-input-group">
                        <form asp-action="index" asp-controller="Category" asp-area="admin" method="post">
                            <input type="text" class="search-bar" name="KeyWord" placeholder="Search...">
                            <span class="input-group-addon">
                                <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <a href="/admin/category/addedit">
                        <button type="button" class="btn btn-outline-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Create new category </button>
                    </a>
                </div>
            </div>

            <br />
            @if (ViewBag.KeyWord != null)
            {
                <div>Search results for '@ViewBag.KeyWord'</div>

            }
            <br />
            <table id="example" style="width: 100%;text-align:center;">
                <thead>
                    <tr role="row" style="border-bottom: 0.5px solid #e1d8d8">
                        <th width="20%">Name</th>
                        <th Width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr role="row" class="odd" style="border-bottom: 0.5px solid #e1d8d8">
                            <td class="sorting_1">
                                @item.Name
                            </td>
                            <td>
                                <a href="/admin/category/addedit/@item.Id"><span class="badge badge-warning">Edit</span></a>
                                <a  href="/admin/category/delete/@item.Id"><span class="badge badge-danger">Delete</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    @if (ViewBag.MaxPage > 1 && ViewBag.Page > 1)
                    {
                        var pageNumber = ViewBag.Page - 1;
                        <li class="page-item">
                            <a class="page-link" href="/admin/category?pageNumber=@pageNumber&KeyWord=@ViewBag.KeyWord" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.MaxPage; i++)
                    {
                        if (i == ViewBag.Page)
                        {
                            <li class="page-item active"><a class="page-link" href="#">@i<span class="sr-only">@i</span></a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/admin/category?PageNumber=@i&KeyWord=@ViewBag.KeyWord">@i</a></li>
                        }
                    }
                    @if (ViewBag.MaxPage > ViewBag.Page)
                    {
                        var pageNumber = ViewBag.Page + 1;
                        <li class="page-item">
                            <a class="page-link" href="/admin/category?PageNumber=@pageNumber&KeyWord=@ViewBag.KeyWord">Next</a>
                        </li>
                    }

                </ul>
            </nav>
        </div>

</div>