﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/Login/_LayoutLogin.cshtml";
}

 <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Report Login Form</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form id="account" method="post">
                            
                            <input asp-for="Input.Email" type="email" placeholder="Email Address" value="PhatTT5@gmail.com"  required="" autofocus>
                            <input  asp-for="Input.Password" type="password" placeholder="Password" value="Admin@123" required="" autofocus>
                            <button class="btn" type="submit">Log In </button>
                            <br/> 
                            <div asp-validation-summary="All" class="account" style="color:red;padding:1.5rem"></div>
                            <span><a href="/" class="btn">Home </a></span>
                        </form>
                        
                        <p class="account">Don't have an account? <a href="/Identity/Account/Register">Register</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="~/login/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
    </section>
    <!-- //form section start -->




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
