﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/Login/_LayoutLogin.cshtml";
}

<!-- form section start -->
<section class="w3l-hotair-form">
    <h1>Register Form</h1>
    <div class="container">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h2>Register</h2>
                    @if (@TempData["Success"] != null)
                        {

                            <span style="background: #a2cfed;
                                    padding: 1rem;
                                     border-radius: 10px;">
                                @TempData["Success"]
                            </span>
                            
                        }
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <input asp-for="Input.Name" type="text" placeholder="Name" required="" autofocus>
                        <input asp-for="Input.Address" type="text" placeholder="Address"  autofocus>
                        <input asp-for="Input.PhoneNumber" type="number" placeholder="Phone Number" autofocus>
                        <input asp-for="Input.Email" type="email" placeholder="Email Address" required="" autofocus>
                        <input asp-for="Input.Password" type="password" placeholder="Password" required="" autofocus>
                        <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" required="" autofocus />
                        @if (User.IsInRole("Admin"))
                        {
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList">
                                <option disabled selected>-Select Role-</option>
                            </select>
                        }
                        <button class="btn" type="submit">Register </button>
                        <br />
                        <div asp-validation-summary="All" class="account" style="color:red;padding:1.5rem"></div>
                        
                        <span><a href="/" class="btn">Home </a></span>

                    </form>

                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="~/login/images/1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
