﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    Layout = "/Views/Shared/Login/_LayoutLogin.cshtml";
}

<!-- form section start -->
<section class="w3l-hotair-form">
    <h1>Change Password Form</h1>
    <div class="container">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h2>Change Password</h2>
                    @if (@TempData["StatusMessage"] != null)
                        {

                            <span style="background: #a2cfed;
                                    padding: 1rem;
                                     border-radius: 10px;">
                                @TempData["StatusMessage"]
                            </span>
                            
                        }
                    <form id="change-password-form" method="post">

                        <input asp-for="Input.OldPassword" placeholder="Old Password" required="" autofocus>
                        <input asp-for="Input.NewPassword" placeholder="New Password" required="" autofocus>
                          <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" required="" autofocus>
                        <button class="btn" type="submit">Update password </button>
                        <br />
                        <div asp-validation-summary="All" class="account" style="color:red;padding:1.5rem"></div>
                    </form>
                      <span style="padding:1rem"><a href="/admin" class="btn">Home </a></span>
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="~/login/images/1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </div>
   
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
