﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
 Layout = "/Views/Shared/Login/_LayoutLogin.cshtml";
}

<!-- form section start -->
<section class="w3l-hotair-form">
    <h1> @ViewData["Title"]</h1>
    <div class="container">        
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    @if (@TempData["StatusMessage"] != null)
                        {

                            <span style="background: #a2cfed;
                                    padding: 1rem;
                                     border-radius: 10px;">
                                @TempData["StatusMessage"]
                            </span>
                            
                        }
                    <form id="profile-form" method="post">
                        
                           <input asp-for="Username" class="form-control" disabled />                       
                          <input asp-for="Input.PhoneNumber" placeholder="Phone number"  autofocus>
                        <button class="btn" type="submit">Save </button>
                        <br />
                        <div asp-validation-summary="ModelOnly"  style="color:red;padding:1.5rem"></div>
                        
                    </form>
                    <span style="padding:1rem"><a href="/admin" class="btn">Home </a></span>
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="~/login/images/1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </div>
    <!-- copyright-->
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}