﻿@model OnlineShopping.Model.ViewModel.ProductViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}

<div class="container-fluid content-top-gap">
    <section class="forms">
        <div class="card card_border py-2 mb-4">
            <div class="cards__heading">
                <h3>@(Model.Product.Id!=0?"Update": "Create new") product <span></span></h3>
            </div>
            <div class="card-body">
                <form method="post" asp-action="AddEdit" enctype="multipart/form-data">
                    <input asp-for="Product.Id" hidden />
                    <input asp-for="Product.ImageUrl" hidden />
                    <!-- supported elements -->
                    
                    <div class="form-group">
                        <input type="text" class="form-control input-style" asp-for="Product.Name"
                               required placeholder="Name...">
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList"
                                class="custom-select input-style" required>
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-style" asp-for="Product.Price"
                               required placeholder="Price">
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-style" asp-for="Product.DiscountPrice"
                                placeholder="Discount Price">
                        <span asp-validation-for="Product.DiscountPrice" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="file" id="uploadBox" name="file" 
                               accept="image/png, image/gif, image/jpeg" />
                        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                       
                        <img src="@Model.Product.ImageUrl"
                             width="100px" height="100px" style="border-radius:5px; border:1px solid #bbb9b9;" />

                    </div>
                    <div class="form-group">
                        <textarea asp-for="Product.Description" rows="3" class="form-control input-style"
                                  class="form-control"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                        }
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!-- // -->
    </section>
</div>

@section Scripts{

    <script>


        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }


        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
        });
    </script>

}