﻿@model OnlineShopping.Model.Product

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- card heading -->
    <div class="cards__heading">
        <h3> Delete Product</h3>
    </div>
    <section class="pricing">
        <div class="card card_border p-4">
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price.ToString("0.000 đ")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class="col-sm-10">
            @Model.DiscountPrice?.ToString("0.000 đ")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.ImageUrl != null || @Model.ImageUrl != "")
            {
                <img title=" " alt=" " width="150" height="150" src="@Model?.ImageUrl">
            }
            else
            {
                <img title=" " alt=" " width="150" height="150" src="~/images/no-image.jpg">
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form method="post" asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
    </form>
    </div>
    </section>
</div>
