﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="/product">SHOP NOW</a></p>
			</div>
			<partial name="_LoginPartial" />
			<div class="product_list_header">  
					
						<a class="w3view-cart" href="/cart" style="background-color:transparent;"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
			
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>
					
				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="/">super Market</a></h1>
			</div>
		<div class="w3l_search">
			<form asp-action="index" asp-controller="Product" asp-area="Customer" method="post">
				<input type="search" name="KeyWord" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
