﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="agile-login">
    <ul>
        @if (SignInManager.IsSignedIn(User))
        {
 
            <li>
                <a 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
           <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
                </li>
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Customer" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link ">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li><a id="register" asp-area="Identity" asp-page="/Account/Register"> Create Account </a></li>
            <li><a id="login" asp-area="Identity" asp-page="/Account/Login"  style="text-decoration: none;">Login</a></li>
        }
    </ul>
</div>