﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager  
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div> 
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									
									<li><a href="/product">Product</a></li>
									  @if (SignInManager.IsSignedIn(User))
        {
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														
														 <li> <a href="/Identity/Account/Manage/Index"><i class="lnr lnr-user"></i>My Profile</a> </li>
													    <li> <a href="/Identity/Account/Manage/ChangePassword"><i class="lnr lnr-cog"></i>Change password</a> </li>
													
													</ul>
												</div>
							
											</div>
										</ul>
									</li>}
									@if (User.IsInRole("Admin") || User.IsInRole("Employee")){
														<li><a href="/admin">Page Admin</a></li>
														}
								</ul>
							</div>
							</nav>
			</div>
		</div>
		
<!-- //navigation -->