﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager       

 <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
       
        <div class="user-dropdown-details d-flex">
          
          <div class="profile_details">
               @if (SignInManager.IsSignedIn(User))
        {
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="~/admin/images/profileimg.jpg" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">@UserManager.GetUserName(User)</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li> <a href="/Identity/Account/Manage/Index"><i class="lnr lnr-user"></i>My Profile</a> </li>
                   <li> <a href="/"><i class="lnr lnr-cog"></i>Page home</a> </li>
                  <li> <a href="/Identity/Account/Manage/ChangePassword"><i class="lnr lnr-cog"></i>Change password</a> </li>
                  <li> <a href="/Identity/Account/Register"><i class="lnr lnr-cog"></i>Register</a> </li>
                  <li class="logout"> <a asp-area="Identity"asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Product", new { area = "Customer" })" ><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>}
            else{

            }
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->