﻿@model OnlineShopping.Model.ViewModel.OrderVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">order</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- card heading -->
    <div class="cards__heading">
        <h3> Order</h3>
    </div>
    <section class="pricing">
        <div class="card card_border p-4">
<form method="post">
	<input asp-for="OrderHeader.Id" hidden />
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="container row">
				<div class="col-12 d-none d-md-block col-md-6 pb-1">
					<i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
				</div>
				<div class="col-12 col-md-4 offset-md-2 text-right">
					<a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
				</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">PickUp Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
									{
										<input asp-for="OrderHeader.Name" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">
									@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
									{
										<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								<div class="col-9">
									@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
									{
										<input asp-for="OrderHeader.Address" type="text" class="form-control" />
										<span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
									}
									else
									{
										<input asp-for="OrderHeader.Address" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							
						
							<div class="row my-1">
								<div class="col-3">Email</div>
								<div class="col-9">
									<input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Order Date</div>
								<div class="col-9">

									<input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />

								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Shipping Date</div>
								<div class="col-9">
									<input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" readonly class="form-control" />
								</div>
							</div>
							
							
							<div class="row my-1">
								<div class="col-3">Payment Status</div>
								<div class="col-9">
									<input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control" />
								</div>
							</div>
							<input type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control my-1" value="Update Order Details" />
							


						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Order Summary</span>
							</h4>
							<label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>

							<ul class="list-group mb-3">
								@foreach (var detail in Model.OrderDetail)
								{
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">

												<h6 class="my-0 text-primary">@detail.Product.Name</h6>
												<small class="text-muted">Price : @detail.Price.ToString("c")</small><br />
												<small class="text-muted">Quantity : @detail.Count</small>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@((detail.Count * detail.Price).ToString("c"))</p>
											</div>
										</div>
									</li>
								}
								<li class="list-group-item bg-info">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">TOTAL </h5>
										</div>
										<div class="col-6 text-end">
											<h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
										</div>
									</div>
								</li>
							</ul>
							@if (Model.OrderHeader.PaymentStatus == "PaymentStatusDelayedPayment" &&
										Model.OrderHeader.OrderStatus == "StatusShipped")
								{
									<input type="submit" class="btn btn-success form-control my-1" value="Pay Now" />
								}
						@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
							{
								if (Model.OrderHeader.OrderStatus == "StatusApproved")
								{
									<input type="submit" asp-action="StartProcessing" class="btn btn-primary form-control my-1" value="Start Processing" />
								}
								if (Model.OrderHeader.OrderStatus == "StatusInProcess")
								{
									<input type="submit" onclick="return validateInput()"
									asp-action="ShipOrder" class="btn btn-primary form-control my-1" value="Ship Order" />
								}
								
								@if (Model.OrderHeader.OrderStatus != "StatusRefunded" &&
										Model.OrderHeader.OrderStatus != "StatusCancelled" &&
								Model.OrderHeader.OrderStatus!="StatusShipped")
								{
									<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" value="Cancel Order" />
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

</div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />


}