﻿@using OnlineShopping.Model
@model IEnumerable<OrderHeader>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">order</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- card heading -->
    <div class="cards__heading">
        <h3> List order</h3>
    </div>

    <section class="pricing">
        <div class="card card_border p-4">
            <div class="p-3">
                <div class="d-flex justify-content-between pt-4">
                    <div class="p-2">
                        <h2 class="text-primary">Order List</h2>
                    </div>
                    <div class="p-2">
                        <ul class="list-group list-group-horizontal-sm">
                            <a style="text-decoration:none;" asp-controller="Order"
                               asp-action="Index" asp-route-status="inprocess">
                            <li class="list-group-item " style="color:blue">In Process</li>
                            </a>
                            <a style="text-decoration:none;" asp-controller="Order"
                               asp-action="Index" asp-route-status="pending">
                            <li class="list-group-item " style="color:purple">Payment Pending</li>
                            </a>
                            <a style="text-decoration:none;" asp-controller="Order"
                               asp-action="Index" asp-route-status="completed">
                            <li class="list-group-item" style="color:green">Completed</li>
                            </a>
                            <a style="text-decoration:none;" asp-controller="Order"
                               asp-action="Index" asp-route-status="approved">
                            <li class="list-group-item " style="color:red">Approved</li>
                            </a>
                            <a style="text-decoration:none;" asp-controller="Order"
                               asp-action="Index" asp-route-status="all">
                            <li class="list-group-item ">All</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <br /><br />
              
                <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Order Status</th>
                            <th> Payment Status</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <th>@item.Name</th>
                                <th>@item.PhoneNumber</th>
                                <th>@item.ApplicationUser.Email</th>
                                <th>@item.OrderStatus</th>
                                <th>@item.PaymentStatus</th>
                                <th>@item.OrderTotal</th>
                                <th>
                                        <a href="/Admin/Order/Details?orderId=@item.Id"><span class="badge badge-success">Action</span></a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
