﻿@model int
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    Layout = "~/Views/Shared/Admin/_LayoutAdmin.cshtml";
}
<div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">order</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->
    <!-- card heading -->
    <div class="cards__heading">
        <h3> List order</h3>
    </div>

    <section class="pricing">
        <div class="card card_border p-4">
            <div class="container row pt-4">
                <div class="col-12 text-center">
                    <h1 class="text-primary text-center">Payment Successfully!</h1>
                   
                </div>
                <div class="col-12 text-center" style="color:maroon">
                    <br />
                    Payment has been applied successfully! <br />
                    <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>

                </div>
            </div>
        </div>
    </section>
</div>

